<%= render 'partial/navbar' %>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="row-space text-center">
                    <%= image_tag current_user.image, class:"profile-full img-circle" %>
                </div>
                <div class="panel panel-default vertification hidden-xs hidden-sm">
                    <div class="panel-heading">認証済み</div>
                    <div class="panel-body">
                        <div class="ver-email">
                        <%= image_tag('check.jpg', :size =>"10x10") unless current_user.email.empty? %>
                            メールアドレス
                        </div>
                        <br>
                        <div class="ver-tel">
                        <%= image_tag('check.jpg', :size =>"10x10") unless current_user.phone_number.empty? %>
                            電話番号
                        </div>
                        <br>
                        <div class="ver-facebook">
                        <%= image_tag('check.jpg', :size =>"10x10") unless current_user.provider.empty? %>
                            Facebook
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <h1>こんにちは<%= current_user.name %>です。</h1>
                <p>自己紹介</p>
                <%= current_user.description %>
            </div>
        </div>
    </div>